In [19]:
# import libraries
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

# read in data
accre = pd.read_csv('data/accre_data.txt', sep='|')
accre.head()

/Users/davisthrailkill/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,State,NNodes,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName
0,15806649,15806649,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1085,WOODWARD_TCP-x-228324-x-228324-x-301-x-Multi_A...
1,15806664,15806664,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,WOODWARD_TCP-x-115174-x-115174-x-301-x-Multi_A...
2,15806670,15806670,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1126,WOODWARD_TCP-x-215607-x-215607-x-301-x-Multi_A...
3,15806671,15806671,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp230,WOODWARD_TCP-x-116214-x-116214-x-1701-x-Multi_...
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,COMPLETED,1,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21

In [20]:
# look at the shape of the dataset
accre.shape

(12499389, 25)

In [21]:
# identify the column names of the dataset
accre.columns

Index(['JobID', 'JobIDRaw', 'Cluster', 'Partition', 'Account', 'Group', 'GID',
       'User', 'UID', 'Submit', 'Eligible', 'Start', 'End', 'Elapsed',
       'ExitCode', 'State', 'NNodes', 'NCPUS', 'ReqCPUS', 'ReqMem', 'ReqGRES',
       'ReqTRES', 'Timelimit', 'NodeList', 'JobName'],
      dtype='object')

In [22]:
# check data types
accre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12499389 entries, 0 to 12499388
Data columns (total 25 columns):
JobID        object
JobIDRaw     int64
Cluster      object
Partition    object
Account      object
Group        object
GID          int64
User         object
UID          float64
Submit       object
Eligible     object
Start        object
End          object
Elapsed      object
ExitCode     object
State        object
NNodes       int64
NCPUS        int64
ReqCPUS      int64
ReqMem       object
ReqGRES      object
ReqTRES      object
Timelimit    object
NodeList     object
JobName      object
dtypes: float64(1), int64(5), object(19)
memory usage: 2.3+ GB

In [26]:
# convert Submit and Start to datetime
accre['Submit'] = pd.to_datetime(accre['Submit'], format='%Y/%m/%d')
accre['Start'] = pd.to_datetime(accre['Start'], format='%Y/%m/%d')

In [27]:
# check head of Submit
accre.Submit.head()

0   2017-07-02 00:40:58
1   2017-07-02 00:40:58
2   2017-07-02 00:40:58
3   2017-07-02 00:40:58
4   2017-07-01 05:00:00
Name: Submit, dtype: datetime64[ns]

In [28]:
# check head of Start
accre.Start.head()

0   2017-07-03 02:13:59
1   2017-07-03 02:20:08
2   2017-07-03 02:41:13
3   2017-07-03 02:51:53
4   2017-07-01 05:00:01
Name: Start, dtype: datetime64[ns]

In [29]:
# create Queue_Time column = Start - Submit
accre['Queue_Time'] = accre['Start'] - accre['Submit']
accre.Queue_Time.head()

0   1 days 01:33:01
1   1 days 01:39:10
2   1 days 02:00:15
3   1 days 02:10:55
4   0 days 00:00:01
Name: Queue_Time, dtype: timedelta64[ns]

In [109]:
# remove unnecessary rows to decrease number of columns
cols = ['JobIDRaw','Partition','Cluster','JobName']
accre_reduced_cols = accre.drop(columns=cols)
accre_reduced_cols.head()

,JobID,Account,Group,GID,User,UID,Submit,Eligible,Start,End,...,State,NNodes,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,Queue_Time
0,15806649,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,2017-07-02T00:42:59,2017-07-03 02:13:59,2017-07-04T03:19:20,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1085,1 days 01:33:01
1,15806664,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,2017-07-02T00:42:59,2017-07-03 02:20:08,2017-07-04T02:11:55,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,1 days 01:39:10
2,15806670,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,2017-07-02T00:42:59,2017-07-03 02:41:13,2017-07-04T04:41:04,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1126,1 days 02:00:15
3,15806671,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,2017-07-02T00:42:59,2017-07-03 02:51:53,2017-07-04T10:54:13,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp230,1 days 02:10:55
4,15811617,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01 05:00:00,2017-07-01T05:00:00,2017-07-01 05:00:01,2017-07-01T05:00:11,...,COMPLETED,1,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,0 days 00:00:01

In [110]:
# get a subset of the dataframe
# indices = np.random.randint(0, len(accre_reduced_cols), 5000)
# accre_subset = accre_reduced_cols.iloc[indices]
# accre_subset.head()

In [111]:
# get top 20 groups by JobID
accre_reduced_cols[['GID', 'Group', 'JobID']].groupby(['GID','Group']).agg('count').sort_values(by ='JobID', ascending=False).head(20)

                           JobID
GID   Group
31000 cms                5069955
59350 beam_lab           1497401
59420 p_csb_meiler        737597
36068 mip_eecs            577413
10023 p_meiler            455407
59298 cms_stage1          454797
59402 lola                449909
59331 h_biostat_student   446182
59422 math                371131
36087 rokaslab            301371
59346 cgg                 227589
36050 stassun             180297
36052 h_vuiis             177625
36022 mass_spec           157348
20429 capra_lab           146538
59297 cms_samtest         136986
36004 tplab               126446
0     root                109222
20444 coxlab               80390
20498 ruderferlab          58056

In [112]:
# get bottom 20 groups by jobID
accre_reduced_cols[['GID', 'Group', 'JobID']].groupby(['GID','Group']).agg('count').sort_values(by ='JobID', ascending=True).head(20)

                     JobID
GID   Group
20483 skaar_lab          4
20807 vuscl              5
59307 h_lasko_lab        6
59284 nbody_gpu          6
20458 trueblood_lab      8
20495 biomath           12
20813 smith_lab         23
59397 aldrich_lab       33
59335 p_blocher         34
59445 cs3891            39
20818 h_darby_lab       44
20487 p_giorgio_lab     44
36036 h_dosimetry       46
59442 physics           49
20479 ren_csb           51
20809 linklab           66
20805 preacher_lab      66
59433 chbe285_gpu       70
59443 bsci3272          83
20808 steinrw_lab       83

In [113]:
# get top 20 groups by user
accre_reduced_cols[['UID', 'User', 'JobID']].groupby(['UID','User']).agg('count').sort_values(by ='JobID', ascending=False).head(20)

                    JobID
UID      User
207302.0 deik      667769
574202.0 sotocs    646076
9209.0   autocms   471424
9202.0   cmslocal  467394
233240.0 cakira    416327
501421.0 ozgunka   373381
342713.0 zhangdk   371131
173433.0 shockle   308142
171357.0 janjamrk  302093
232977.0 moonj     260413
169069.0 schlunsg  213261
126986.0 tuos      191581
233674.0 jacklisr  180124
454080.0 kuenzeg   169301
169859.0 schluedj  164660
337100.0 wangj36   157526
229206.0 chipmajj  151041
237602.0 smithst   148613
237813.0 tierneje  139122
171302.0 brockc    136077

In [114]:
# get bottom 20 groups by user
accre_reduced_cols[['UID','User','JobID']].groupby(['UID','User']).agg('count').sort_values(by='JobID', ascending=True).head(20)

                   JobID
UID      User
593160.0 maya3         1
200890.0 elmoree       1
513096.0 carlsobl      1
512952.0 dongew        1
55566.0  dubeya        1
672295.0 pateloj       1
53902.0  barquela      1
508699.0 luok          1
692041.0 millertw      1
696342.0 khanoa        1
230050.0 guarnaad      1
504471.0 epishoa       1
635087.0 markowrh      1
235015.0 parvatp       1
36697.0  gabellwe      1
230440.0 lindsedr      1
306960.0 sanghaak      1
755185.0 brownhm2      1
756857.0 clineci       1
758462.0 mautzb        1

In [115]:
# get the most frequent values for ReqMem -- need to import Counter from collections
from collections import Counter

mem_types = Counter(accre_reduced_cols.ReqMem)
mem_types.most_common(10)

[('5000Mn', 2341060),
 ('28000Mn', 2038338),
 ('2Gc', 889885),
 ('1024Mn', 808080),
 ('10Gn', 745088),
 ('8000Mn', 620378),
 ('16000Mn', 615156),
 ('4Gn', 378371),
 ('2000Mn', 374385),
 ('20Gn', 357188)]

In [116]:
# get the most frequent values for ReqMem
accre_reduced_cols.ReqMem.value_counts(ascending=False).head(10)

5000Mn     2341060
28000Mn    2038338
2Gc         889885
1024Mn      808080
10Gn        745088
8000Mn      620378
16000Mn     615156
4Gn         378371
2000Mn      374385
20Gn        357188
Name: ReqMem, dtype: int64

In [117]:
accre_reduced_cols['Timelimit'] = accre_reduced_cols['Timelimit'].str.split('-', expand=True)

In [118]:
accre_reduced_cols.head()

,JobID,Account,Group,GID,User,UID,Submit,Eligible,Start,End,...,State,NNodes,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,Queue_Time
0,15806649,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,2017-07-02T00:42:59,2017-07-03 02:13:59,2017-07-04T03:19:20,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9,vmp1085,1 days 01:33:01
1,15806664,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,2017-07-02T00:42:59,2017-07-03 02:20:08,2017-07-04T02:11:55,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9,vmp1099,1 days 01:39:10
2,15806670,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,2017-07-02T00:42:59,2017-07-03 02:41:13,2017-07-04T04:41:04,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9,vmp1126,1 days 02:00:15
3,15806671,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,2017-07-02T00:42:59,2017-07-03 02:51:53,2017-07-04T10:54:13,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9,vmp230,1 days 02:10:55
4,15811617,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01 05:00:00,2017-07-01T05:00:00,2017-07-01 05:00:01,2017-07-01T05:00:11,...,COMPLETED,1,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2,vmp1242,0 days 00:00:01