# Accor Data

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import time
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
#accre = pd.read_csv('./data/july-2017-thru-june-2018.txt', sep="|", chunksize=5000).get_chunk()
accre = pd.read_csv('./data/july-2017-thru-june-2018.txt', sep="|", low_memory=False)
accre.head(10)

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,State,NNodes,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName
0,15806649,15806649,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1085,WOODWARD_TCP-x-228324-x-228324-x-301-x-Multi_A...
1,15806664,15806664,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,WOODWARD_TCP-x-115174-x-115174-x-301-x-Multi_A...
2,15806670,15806670,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1126,WOODWARD_TCP-x-215607-x-215607-x-301-x-Multi_A...
3,15806671,15806671,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp230,WOODWARD_TCP-x-116214-x-116214-x-1701-x-Multi_...
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,COMPLETED,1,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21
5,15811618,15811618,accre,production,cms_stage2,cms_stage1,59298,autocms,9209.0,2017-07-01T05:00:01,...,COMPLETED,1,1,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1063,skim_test
6,15811619,15811619,accre,production,cms_stage2,cms,31000,tuos,126986.0,2017-07-01T05:00:02,...,COMPLETED,1,1,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1062,skim_test
7,15811621,15811621,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:22,...,COMPLETED,1,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_33ee450ebdc4
8,15811624,15811624,accre,production,cms_stage2,cms_stage1,59298,autocms,9209.0,2017-07-01T05:01:01,...,COMPLETED,1,1,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp670,skim_test
9,15811625,15811625,accre,production,cms_stage2,cms,31000,tuos,126986.0,2017-07-01T05:01:02,...,COMPLETED,1,1,1,2Gc,NaN,"cpu=1,mem=2G,node=1",12:00:00,vmp1078,skim_test

In [3]:
accre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12499389 entries, 0 to 12499388
Data columns (total 25 columns):
JobID        object
JobIDRaw     int64
Cluster      object
Partition    object
Account      object
Group        object
GID          int64
User         object
UID          float64
Submit       object
Eligible     object
Start        object
End          object
Elapsed      object
ExitCode     object
State        object
NNodes       int64
NCPUS        int64
ReqCPUS      int64
ReqMem       object
ReqGRES      object
ReqTRES      object
Timelimit    object
NodeList     object
JobName      object
dtypes: float64(1), int64(5), object(19)
memory usage: 2.3+ GB

In [4]:
accre.shape

(12499389, 25)

In [5]:
accre.columns

Index(['JobID', 'JobIDRaw', 'Cluster', 'Partition', 'Account', 'Group', 'GID',
       'User', 'UID', 'Submit', 'Eligible', 'Start', 'End', 'Elapsed',
       'ExitCode', 'State', 'NNodes', 'NCPUS', 'ReqCPUS', 'ReqMem', 'ReqGRES',
       'ReqTRES', 'Timelimit', 'NodeList', 'JobName'],
      dtype='object')

In [6]:
# convert Submit and Start to datetime
accre['Submit'] = pd.to_datetime(accre['Submit'], format='%Y/%m/%d')
accre['Start'] = pd.to_datetime(accre['Start'], format='%Y/%m/%d')
accre['End'] = pd.to_datetime(accre['End'], format='%Y/%m/%d')

In [7]:
# check head of Submit
accre.Submit.head()

0   2017-07-02 00:40:58
1   2017-07-02 00:40:58
2   2017-07-02 00:40:58
3   2017-07-02 00:40:58
4   2017-07-01 05:00:00
Name: Submit, dtype: datetime64[ns]

In [8]:
# check head of Start
accre.Start.head()

0   2017-07-03 02:13:59
1   2017-07-03 02:20:08
2   2017-07-03 02:41:13
3   2017-07-03 02:51:53
4   2017-07-01 05:00:01
Name: Start, dtype: datetime64[ns]

In [10]:
# create Elapsed_calc column = End - Start # Just to check if there is any difference....
accre['Elapsed_calc'] = accre['End'] - accre['Start']
accre.Elapsed_calc.head()

0   1 days 01:05:21
1   0 days 23:51:47
2   1 days 01:59:51
3   1 days 08:02:20
4   0 days 00:00:10
Name: Elapsed_calc, dtype: timedelta64[ns]

In [15]:
# pick columns: 'Elapsed', 'User', 'Group', 'Account'
#acr_elps = accre.sort_values(by='Elapsed', ascending=False)[['JobID', 'JobIDRaw', 'Account', 'Group', 'GID', 'User', 'Submit','End','Elapsed_calc', 'Elapsed']]
acr_elps = accre[['JobID', 'JobIDRaw', 'Account', 'Group', 'GID', 'User', 'Submit','End','Elapsed_calc', 'Elapsed']]
acr_elps.head()

,JobID,JobIDRaw,Account,Group,GID,User,Submit,End,Elapsed_calc,Elapsed
0,15806649,15806649,h_vuiis,h_vuiis,36052,masispider,2017-07-02 00:40:58,2017-07-04 03:19:20,1 days 01:05:21,1-01:05:21
1,15806664,15806664,h_vuiis,h_vuiis,36052,masispider,2017-07-02 00:40:58,2017-07-04 02:11:55,0 days 23:51:47,23:51:47
2,15806670,15806670,h_vuiis,h_vuiis,36052,masispider,2017-07-02 00:40:58,2017-07-04 04:41:04,1 days 01:59:51,1-01:59:51
3,15806671,15806671,h_vuiis,h_vuiis,36052,masispider,2017-07-02 00:40:58,2017-07-04 10:54:13,1 days 08:02:20,1-08:02:20
4,15811617,15811617,cms_samtest,cms_samtest,59297,uscms010,2017-07-01 05:00:00,2017-07-01 05:00:11,0 days 00:00:10,00:00:10

In [ ]:
#randomization of dataset with reduced amount of data
#indices = np.random.randint(0, len(accre_user_elapsed), 500)
#random_elapsed = accre_user_elapsed.iloc[indices,:]
#random_elapsed.head(10)

In [ ]:
#Checking stats of Elapsed
acr_elps.Elapsed.describe()

In [ ]:
#Extracting days and non-days time values from Elapsed
acr_elps['elapsed_days'] = acr_elps['Elapsed'].str.extract('(\d+)-', expand=True).fillna('0')
acr_elps['elapsed_hms'] = acr_elps['Elapsed'].str.extract('(\d+:\d+:\d+)', expand=True)
acr_elps.head()

In [ ]:
# Converting elapsed_hms to date time format

def time_converter(x):
#    print(x.elapsed_hms)
    return timedelta(
         hours=(int(x['elapsed_days'][0]) * 24) + int(x['elapsed_hms'][0:2]),
         minutes=int(x['elapsed_hms'][3:5]),
         seconds=int(x['elapsed_hms'][6:])
     )

acr_elps['elapsed_time'] = acr_elps.apply(time_converter, axis=1)

acr_elps.head()

In [ ]:
acr_elps = acr_elps.drop(['Elapsed', 'elapsed_days', 'elapsed_hms'], axis=1)
acr_elps.head()

In [ ]:
acr_elps.info()

In [ ]:
acr_elps.elapsed_time.describe()

In [ ]:
acr_elps['User'].value_counts()

In [ ]:
#accre_user_elapsed.groupby('User')['elapsed_time'].value_counts()
#small_jobs = pd.DataFrame(acr_elps[acr_elps['elapsed_time'] < timedelta(minutes = 5)].groupby('User')['elapsed_time'].count())
#small_jobs = acr_elps[acr_elps['elapsed_time'] < timedelta(minutes = 5)].groupby('User')['elapsed_time'].value_counts().to_frame().reset_index()
#small_jobs
acr_elps[acr_elps['elapsed_time'] < timedelta(minutes = 5)].groupby('User')['elapsed_time'].value_counts()

In [ ]:
# Goal is to generate a table of users, jobids (within 4 hours time) and elapsed time (<5min)

#small_jobs_rolling = pd.DataFrame(acr_elps[acr_elps['elapsed_time'] < timedelta(minutes = 5)])#.groupby(['User', 'Submit']).rolling('4h', on='Submit').JobID.count())#.sort_values(by=['User', 'Submit']).reset_index()

small_jobs = pd.DataFrame(acr_elps[acr_elps['elapsed_time'] < timedelta(minutes = 5)])

small_jobs.head()

In [ ]:
small_jobs.shape

In [ ]:
small_jobs.sort_values('Submit', inplace=True)

In [ ]:
# Goal is to generate a table of users, jobids (within 4 hours time) and elapsed time (<5min)

small_jobs_rolling = small_jobs.groupby('User').rolling('4h', on='Submit').JobID.count()

small_jobs_rolling = pd.DataFrame(small_jobs_rolling).reset_index()
#small_jobs_rolling.to_frame().reset_index().head()
print(small_jobs_rolling.head())
print(small_jobs_rolling.shape)

In [ ]:
#small_jobs_rolling

#small_jobs_rolling1 = small_jobs[small_jobs.groupby('User').rolling('4h', on='Submit').JobID.count()]

In [ ]:
print(small_jobs_rolling.value_counts(ascending=False))
print(small_jobs_rolling.head())

In [ ]:
boxplot = acr_elps.boxplot(column='elapsed_time',by='User')

In [ ]:
sns.jointplot(x='User', y='elapsed_time', data=data_returns

In [ ]:
boxplot = acr_elps.boxplot ser.resample('D').sum().plot()